.login-container{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    .logo{
        
        border-radius: 50%;
        height: 80px;
        width: 80px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -180px;
    }

    .inputs-container{

        display: flex;
        flex-direction: column;

        .usuario{
            margin-top: 30px;
        }
        input{

            width: 250px;
            border-radius: 6px;
            height: 30px;
            margin-top: 5px;
            border: 1px solid black;

        }
        .contraseña{
            margin-top: 20px;
        }
    }
    button{
        margin-top: 35px;
        background: white;
        border: 1px solid black;
        height: 40px;
        border-radius: 6px;
        width: 120px;
    }
}