.rol{

    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-top: -80px;

    span{

        height: 200px;
        width: 200px;
        border: 1px solid black;
        border-radius: 50%;
    }
}